@font-face {
  font-family: "Pixeboy";
  src: url("assets/Pixeboy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}


html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;
}


.window {
  width: 100%;
  height: 100%;
  padding: 10px;

  border-radius: 20px;
  overflow: hidden;

  background-image: url("assets/outer-frame-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: calc(100% - 6px) calc(100% - 6px); 

  background-origin: padding-box;
  background-clip: padding-box;

  user-select: none;
  -webkit-app-region: drag;
}


.app {
  width: 100%;
  height: 100%;

  
  border-radius: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}


button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}

.title {
  display: flex;
  width: 157px;
  aspect-ratio: 157/27;
  padding: 0.25rem 0.625rem;
  justify-content: center;
  align-items: center;

  border-radius: 6.25rem;
  border: 2px solid #C079FF;
  background: rgba(210, 164, 255, 0.40);

  color: #FFF;
  text-align: center;

  font-family: "Pixeboy";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#calendar { 
  display: flex;
  width: 11.25rem;
  height: 10.0625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-image: url("assets/inner-frame-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  overflow: hidden; 
  border-radius: 18px; 
}

#day {
  color: #FFF;
  text-align: center;

  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #B58CD9;

  font-family: "Pixeboy";
  font-size: 8.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; 
  letter-spacing: 0.45rem;

  display: flex;
  width: 11.25rem;
  height: 4.4375rem;
  flex-direction: column;
  justify-content: center;
}

#month {
  color: #FFF;
  text-align: center;

  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #B58CD9;

  font-family: "Pixeboy";
  font-size: 2rem;          
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;

  letter-spacing: 2px;      

  width: 8.125rem;

 
  white-space: nowrap;
  overflow: hidden;
}
